<div class="row">
    <div class="col-lg-4 col-sm-6">
      <img src="nader-arman-NZ2ee4RGTLk-unsplash.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="andre-tan-LFF37AfrYDI-unsplash.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="andre-tan-vj19fV7VDzo-unsplash.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="andre-tan-jMkiHrKwoAk-unsplash.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="andre-tan-erDz3o6RmRo-unsplash.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="andre-tan-jMkiHrKwoAk-unsplash.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="andre-tan-LFF37AfrYDI-unsplash.jpg" class="img-thumbnail">
    </div>
  </div>        