<html>
<head>
  <title>My Collection</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/5e21fc728e.js" crossorigin="anonymous"></script>
<style>
  .jumbotron
{
  margin-top: 40px;
  color:#2c3e50;
}
a
{
  color:white;
}
a:hover
{
  color:red;
}
h1
{
  letter-spacing: 2px;
}
img {
    vertical-align: 5px
}
</style>
</head>
<body>

{{> navbar }}
{{> jumbo }}
{{> body }}

<script
  src="http://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>